html{
    font-size: 16px;
}

body{
    background-color: black;
    font-family: Roboto;
    margin: 0px;
}

.titles{
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 300;
}
.titles:hover{
    color: orange;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 4rem;
    background-color: white;
}

.logo{
    height:7rem;
    width: 13rem;
}

.nav{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
}
.nav a {
    display: block;
    padding: 1em;
    color: rgb(56, 56, 56);
    font-size: 2rem;
    text-decoration: none;
  }

.nav a:hover{
    color: orange;
    background-color: rgb(7, 7, 7);
    border-radius: 0.5rem;
}
/*Mission Section*/
.mission-container{
    font-size: 1.5rem;
    color: white;
    border-bottom: 1px white solid;
}


/*Product Section*/
.product-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.product-container h2{
    color: white;
    display: block;
    font-size: 2.5rem;
}

.product-container .list{
    color: white;
    justify-content: center;
    background-color: rgb(4, 26, 26);

}
.product-card{
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: Roboto;
    background-color: black;
    border-bottom: 1px solid white;
    opacity: 75%;
    margin-bottom: 4rem;
}
.product-card:hover{
    opacity: 100%;
}
.card-text{
    color: orange;
}
.product-img{
    height: 25rem;
    width: 25rem;
    width: 100%;
}

.product-card img{
    border-radius: 30%;
}


/*Team Section*/
.team-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}
.team-img{
    height: 12rem;
    width: 11rem;
    border-radius: 45%;
}
.team-card{
    margin:auto;
    padding-top: 2rem;
    text-align: center;
    font-family: Roboto;
    background-color: black;
    border-bottom: 1px solid white;
    color: white;
}

/*Footer*/
footer{
    margin-top: 5rem;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
.copyright{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
}
.copyright:hover{
    color: orange;
}