html{
    font-size: 16px;
}

body{
    background-color: black;
    font-family: Roboto;
    margin: 0px;
}

.titles{

    color: white;
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-left: 5rem;
    margin-right: 5rem;
}
.titles:hover{
    color: orange;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
}

.logo{
    height:7rem;
    width: 13rem;
}

.nav{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
.nav a {
    display: flex;
    padding: 1rem;
    margin: 0px;
    color: rgb(56, 56, 56);
    font-size: 2rem;
    text-decoration: none;

  }

.nav a:hover{
    color: orange;
    background-color: rgb(7, 7, 7);
    border-radius: 0.5rem;
}
/*Mission Section*/
.mission-container{
    font-size: 1.5rem;
    color: white;
    border-bottom: 1px white solid;
}


/*Product Section*/
.product-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 5rem;
    margin-bottom: 5rem;

}
.product-container h2{
    color: white;
    display: block;
    font-size: 2.5rem;
}

.product-container .list{
    color: white;
    justify-content: center;
    background-color: rgb(4, 26, 26);
}
.product-card{
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: Roboto;
    background-color: black;
    border-bottom: 1px solid white;
    opacity: 75%;
    margin-bottom: 4rem;
}
.product-card:hover{
    opacity: 100%;
    
}
.card-text{
    color: orange;
}
.product-img{
    height: 25rem;
    width: 25rem;
    width: 100%;
}

.product-card img{
    border-radius: 30%;
}
.product-card img:hover{
    zoom: 100.1%;
}


/*Team Section*/
.team-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 3rem;
    padding-top: 2rem;
}
.team-img{
    height: 17rem;
    width: 16rem;
    border-radius: 45%;
}
.team-card{
    margin:auto;
    padding-top: 2rem;
    text-align: center;
    font-family: Roboto;
    background-color: black;
    border-bottom: 1px solid white;
    color: white;
}

/*Footer*/
footer{
    border-top: 1px solid white;
    margin-top: 10rem;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
.copyright{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
}
.copyright:hover{
    color: orange;
}
/*Mobile sizing*/


@media (max-width: 850px) {
    .logo{
        display: none;
        margin: 0 auto;
    }

    .nav-container{
        display: flex;
        justify-content: center;

    }
}

@media (max-width: 550px) {
    .logo{
        display: none;
        margin: 0 auto;
    }

    .nav-container{
        display: relative;
        justify-content: center;
        
    }
    .nav{
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        line-height: 0.5rem;
    }
    a{
        border-bottom: 1px solid black;
    }
}